<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Students</title>
  </head>
  <body>
    <h1>The Students:</h1>
    <h3>
      <% Student.all.each do |student| %>
        <%= student.first_name %> <%= student.last_name %>
      <% end %>
    </h3>
  </body>
</html>
